<span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome"></a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a> <span>/</span> <a
        href="/sfwoverboard"
        class="coloredIcon"
        id="linkSfwOver"></a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="linkOverboard"></a> <span>/</span> <a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"></a> <span>]</span>
      <span>[</span>
<a href="/leftypol">leftypol</a>
<span>/</span>
<a href="/b">b</a>
<span>/</span>
<a href="/hobby">hobby</a>
<span>/</span>
<a href="/tech">tech</a>
<span>/</span>
<a href="/edu">edu</a>
<span>/</span>
<a href="/games">games</a>
<span>/</span>
<a href="/anime">anime</a>
<span>]</span>
<span>[</span>
<a href="/gulag">gulag</a>
<span>]</span>
</span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan"> </span>
